body {
  background: url("./img/bg.jpg") no-repeat center center/cover;
  width: 100%;
      height:100%;
  overflow-x: hidden;
  
}

.grid {
  margin-top: 5rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}
.card-container {
  position: relative;
  /* width: 18rem; */
  perspective: 200rem;
  height: 610px;
}
.card-container:hover .card-front {
  transform: rotateY(180deg);
}
.card-container:hover .card-back {
  transform: rotateY(0deg);
}
.card-back {
  transform: rotateY(180deg);
}
.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.9s;
  backface-visibility: hidden;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
   
}

@media only screen and (max-width: 520px){
  .grid {
    grid-template-columns:  1fr;
    grid-gap: 1rem;
  }
}